
# 1. Ignorer absolument tout par défaut
*

# 2. Ne pas ignorer le dossier courant pour parcourir l'arborescence
!**/


# ==========================================
# 3. EXCLURE LES DOSSIERS DE BUILD (NOUVEAU)
# ==========================================
/build/
build/
**/build/
/cmake-build-*/
**/cmake-build-*/


# Ignorer tout dossier ou fichier contenant "sav_"
*sav_*/
*sav_*

# ==========================================
# 3. Exceptions : Fichiers et extensions autorisés
# ==========================================

# Fichiers sources et headers C++
!*.cpp
!*.h
!*.hxx
!*.c
!*.hpp
!*.bat
!*.user

# Fichiers de build et configuration
!/Makefile
!*.cmake
!CMakeLists.txt

# Ressources graphiques et 3D
!*.svg
!*.ui
!*.qrc

# Le fichier .gitignore lui-même
!.gitignore

